@using TCP.Core.Code.LIBS;
<style>
    .dash-icon-img {
        height: 70%;
        width: 70%;
    }

    .dash-a {
        margin-left: -12px;
    }

    #dest-guide-ul {
        height: 321px;
        overflow-y: scroll;
    }
</style>
<header class="header" id="header_main">
    <input type="hidden" id="holdHomeMenulinkval" />
    <div class="header-top">
        <div class="container d-md-flex align-items-center justify-content-between">
            <div class="header-info">
                <ul class="d-md-flex">
                    <li><i><img src="@SiteKeys.Domain/images/phone-icon.png" alt="phone-icon"></i> <a id="header-supportmobile" href="javascript:void(0)">+00 123 4567 89</a></li>
                    <li><i><img src="@SiteKeys.Domain/images/email-icon.png" alt="email-icon"></i> <a id="header-supportemail" href="mailto:">example@email.com</a></li>
                </ul>
            </div>
            <div class="header-info header-info-right">
                <ul class="d-md-flex">
                    @if (CurrentFrontUser.Id > 0)
                    {
                        <li><i><img src="@SiteKeys.Domain/images/user-icon.png" alt="user-icon"></i> <a href="#" id="booking-anchor">Booking History</a></li>
                        <li><i><img src="@SiteKeys.Domain/images/user-icon.png" alt="user-icon"></i> <a href="#" id="profile-anchor">My Profile</a></li>
                        <li><i><img class="dash-icon-img" src="@SiteKeys.Domain/images/dash-icon.png" alt="dash-icon"></i> <a class="dash-a" href="/Dashboard/Index">Dashboard</a></li>
                        <li id="signout-li">
                            <i class="nav-icon fa fa-power-off"></i>
                            <div class="d-flex">
                                <a oncontextmenu="return false" id="signout_btn" asp-action="SignOut" asp-controller="Account">Sign Out</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li id="login-li">
                            <i><img src="@SiteKeys.Domain/images/login-icon.png" alt="login-icon"></i>
                            <div class="d-flex">
                                <a oncontextmenu="return false" id="login_btn" asp-action="Login" asp-controller="Account" data-toggle="modal" data-target="#login-popup">Sign In/</a>
                                <a oncontextmenu="return false" id="register_btn" asp-action="Register" asp-controller="Account" data-toggle="modal" data-target="#register-popup">Sign Up</a>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="header-medial">
        <div class="container d-md-flex align-items-center justify-content-between">
            <a href="@SiteKeys.Domain" class="logo"><img id="header-logo" src="" alt="logo"></a>
            <a href="javascript:void(0)" class="menuImage">
                <div class="container2">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </a>
            <div class="header-medial-left">
                <div class="navigation iphonNav">
                    <div class="navigation-left">
                        <ul class="d-lg-flex" id="header-ul-home">
                        </ul>
                        <ul class="d-lg-flex">
                            <li><a href="/about-us">About Us</a></li>
                            <li><a oncontextmenu="return false" id="contactus_btn" asp-action="HomeContactUs" asp-controller="Home" data-toggle="modal" data-target="#contactus-popup">Contact Us</a></li>
                            <li class="dropdown">
                                <a href="#" class="dest-visa-li" id="head-destguide-anchor" data-toggle="dropdown">Destination Guide</a>
                                <ul class="sub-menu dropdown-menu destination-menu">
                                    <div class="sub-menu-card">
                                        <button type="button" class="close closebtn-cls" data-dismiss="modal" aria-label="Close"><img src="https://travelcustompackages.24livehost.com/images/close-btn.png" alt=""></button>
                                        <div class="sub-menu-links">
                                            <h3>Europe Destination Guide</h3>
                                            <ul id="dest-guide-ul"></ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/India" target="_blank" id="head-visa-anchor" class="visa-guide-li" data-toggle="dropdown">Visa Guide</a>
                                <ul class="sub-menu dropdown-menu">
                                    <div class="sub-menu-card">
                                        <button type="button" class="close closebtn-cls" data-dismiss="modal" aria-label="Close"><img src="https://travelcustompackages.24livehost.com/images/close-btn.png" alt=""></button>
                                        <div class="sub-menu-links">
                                            <h3>Visa Guide</h3>
                                            <ul id="visa-guide-ul"></ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                        <div class="header-info">
                            <ul>
                                <li><i><img src="@SiteKeys.ImageDomain/images/phone-icon.png" alt="phone-icon"></i> <a href="#" class="text-dark">+00 123 4567 89</a></li>
                                <li><i><img src="@SiteKeys.ImageDomain/images/email-icon.png" alt="email-icon"></i> <a href="#" class="text-dark">example@email.com</a></li>
                                @if (CurrentFrontUser.Id > 0)
                                {
                                    <li><i><img src="@SiteKeys.ImageDomain/images/user-icon.png" alt="user-icon"></i> <a href="#" id="side-booking-anchor" class="text-dark">Booking History</a></li>
                                    <li><i><img src="@SiteKeys.ImageDomain/images/user-icon.png" alt="user-icon"></i> <a href="#" id="side-profile-anchor" class="text-dark">My Profile</a></li>
                                    <li><i><img src="@SiteKeys.ImageDomain/images/dash-icon.png" alt="dash-icon-black"></i> <a class="text-dark" href="/Dashboard/Index">Dashboard</a></li>
                                    <li id="signout-li">
                                        <i class="nav-icon fa fa-power-off text-dark"></i>
                                        <div class="d-flex">
                                            <a class="text-dark" oncontextmenu="return false" id="signout_btn_differ" asp-action="SignOut" asp-controller="Account">Sign Out</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i><img src="@SiteKeys.Domain/images/login-icon.png" alt="login-icon"></i>
                                        <div class="d-flex">
                                            <a oncontextmenu="return false" id="login_btn_differ" asp-action="Login" asp-controller="Account" data-toggle="modal" data-target="#login-popup">Sign In/</a>
                                            <a oncontextmenu="return false" id="register_btn_differ" asp-action="Register" asp-controller="Account" data-toggle="modal" data-target="#register-popup">Sign Up</a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="holiday-btn">
                        <a oncontextmenu="return false" data-toggle="modal" data-target="#modal-add-edit-planmyholiday" asp-action="PlanMyHoliday" asp-controller="PlanMyHoliday" id="planholiday_btn"
                           class="btn-custom">Plan My Holiday</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {

        $(".dest-visa-li").on("click", function () {
            logout1();
            $(".header-medial-left .nav-open").addClass("destinationmodalshow")
        })

        $(".closebtn-cls").on("click", function () {
            logout1();
            $(".header-medial-left .nav-open").removeClass("destinationmodalshow")
        })

        $(".visa-guide-li").on("click", function () {
            logout1();
            $(".header-medial-left .nav-open").addClass("visaguidemodalshow")
        })
        $(".closebtn-cls1").on("click", function () {
            $(".header-medial-left .nav-open").removeClass("visaguidemodalshow")
        })


        $("#booking-anchor,#side-booking-anchor").click(function () {
            logout1();
            localStorage.setItem("MenulinkKey", "mybooking");
            window.location.href = "/Dashboard/Index";

        });

        $("#profile-anchor,#side-profile-anchor").click(function () {
            logout1();
            localStorage.setItem("MenulinkKey", "myprofile")
            window.location.href = "/Dashboard/Index";
        });

        $.get("/Home/HomeDestinationGuide", {}, function (res) {
            logout1();
            $("#dest-guide-ul").html('');
            $("#dest-guide-ul").html(res);
        })

        $.get("/Home/HomeVisaGuide", {}, function (res) {
            logout1();
            $("#visa-guide-ul").html('');
            $("#visa-guide-ul").html(res);
        })
    })
    function logout1()
    {
        var url = "";
        $.ajax({
            url: "@SiteKeys.Domain" + '/Account/CheckUserStatus',
            type: 'POST',
            success: function (result) {
                
                if (result.isSuccess == false) {
                    window.location.reload();
                }
            },
            error: function (result) {
                //Global.ShowMessage(result.data == null ? "Undefiend request" : Global.MessageType.Error);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
</script>